<div class="layout-column">
  <div class="layout-row align-items-center justify-content-center mt-50">
    <input class="mr-30" type="text" data-test-id="name-input" required placeholder="Guest Name" />
    <input class="mr-30" type="date" data-test-id="start-date" required placeholder="Start Date" />
    <input class="mr-30" type="date" data-test-id="end-date" required placeholder="End Date" />
  </div>
  <div class="layout-row align-items-center justify-content-center mt-50">
    <button data-test-id="submit-button" class="w-30">Add to Menu</button>
  </div>
</div>
